<!DOCTYPE html>
<html lang="fr">
{% load static %}
<head>
   <link rel="stylesheet" href="/media/css/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
   <title>{% block title %}Bienvenue sur Manapy!{% endblock %}</title>
</head>
<body>
<header>Gérer votre vie.</header>
    <nav>
       {% block nav %}
       <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/manapy/">Manapy</a></li>
            <li><a href="/contact/">Contact</a></li>
       </ul>
       {% endblock %}
   </nav>

    <img src="{% static 'test.PNG' %}" alt="Mon image" />
   <section id="content">
       {% block content %}{% endblock %}
   </section>
<footer>&copy; Manapy corp. Made for maniacs. </footer>
</body>
</html>
